
.numberlist,.box_input{
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.display_none{
    display: none;
}

.box_style,.user_input{
    border:3px solid black;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    font-size: 24px;
    height: 100px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_custom{
    padding: 20px 50px;
    border-radius: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    transition: all 0.5s ease-out;

}
.btn_custom:hover{
    background-color: rgb(247, 4, 4);
}

.countdown_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-top: 3px solid black;
    border-bottom: 1px solid red;
    font-weight: bolder;
    color: red;
    border-radius: 50px;
}


.turn {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}

